<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411159081884-a6rva7ngkiplg2u4a81cppfon80cu6u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411159081884-a6rva7ngkiplg2u4a81cppfon80cu6u9</string>
	<key>API_KEY</key>
	<string>AIzaSyBx83mqJfKHB4UMJK2RzuUV7vKNXugwNIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>411159081884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leoncio.Meu-Valor</string>
	<key>PROJECT_ID</key>
	<string>meu-valor-61fa6</string>
	<key>STORAGE_BUCKET</key>
	<string>meu-valor-61fa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411159081884:ios:97e0afa8279dcd30200e59</string>
</dict>
</plist>